<form [formGroup]="LoginForm" #usersForm="ngForm" (ngSubmit)="getUserFormData(LoginForm.value)">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-7 mx-auto">
                <div class="bg-white rounded-lg shadow-sm p-5">
                    <!-- Credit card form tabs -->
                    <ul role="tablist" class="nav bg-light nav-pills rounded-pill nav-fill mb-3">
                        <li class="nav-item">
                            <a data-toggle="pill" href="#nav-tab-card" class="nav-link active rounded-pill">
                                Login Form
                            </a>
                        </li>
                    </ul>
                    <!-- End -->


                    <!-- Credit card form content -->
                    <div class="tab-content">

                        <!-- Login info-->
                        <div id="nav-tab-card" class="tab-pane fade show active">
                            <form role="form">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" ng-model formControlName="username" placeholder="Enter Username" required class="form-control">
                                </div>
                                <span style="color: red;" *ngIf="username_valid && username_valid.invalid && username_valid.touched">Enter Valid Username</span>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <div class="input-group">
                                        <input type="text" name="password" ng-Model formControlName="password" placeholder="Enter Password" class="form-control"
                                            required>
                                    </div>
                                </div>
                                <span style="color: red;" *ngIf="password_valid && password_valid.invalid && password_valid.touched">Enter Valid Card Number</span>

                                <div class="row">

                                    <button type="button" class="subscribe btn btn-primary btn-block rounded-pill shadow-sm">Login</button>

                                </div>


                                <!-- End -->



                        
                    